@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link href="https://unpkg.com/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" type="text/css" />


    <h2 style="font-size: x-large"><b>Теоретичні відомості</b></h2>
    <br/><br/>
    <h3 style="margin-left:30%; margin-right: 10%; font-size: large"><b>Доступні розділи: </b></h3>
    <br />
    <p style="margin-left:30%; margin-right: 10%; font-size: large">
            <a href="/info/FractalsInfo.html">1. Фрактали</a>
    </p>
    <br />
    <p style="margin-left:30%; margin-right: 10%; font-size: large">
            <a href="/info/ColorsInfo.html">2. Колірні схеми</a>
    </p>
    <br />
    <p style="margin-left:30%; margin-right: 10%; font-size: large">
            <a href="/info/AffineInfo.html">3. Афінні перетворення</a>
    </p>
    <br />
    <br/>
    <a href="/Home/Index">
            <div class=" rounded-xl py-1 " style="background-color: #EEB0CF;margin-left:30%;margin-right:30%;font-size:large; text-align: center">На головну сторінку</div>
    </a>
}
