@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link href="https://unpkg.com/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" type="text/css" />

    <br />
    <h2 style="font-size: x-large"><b>Комп'ютерна графіка</b></h2>
    <br />
    <br />
    <div class="row-cols-3">

        <div class="column margin-bottom: 20px rounded-xl px-6 py-2 " style="font-size:large ;background-color: #DBFCFF; width: 25%; margin-left:7%;  margin-bottom:5%; text-align:center" height=15%>
                <a href="/Fractals/Index">
                        <br />
                        <div class="column margin-bottom: 20px rounded-xl px-6 py-6 " style="font-size:large ;background-color: #9EE7EC; width: 90%; margin-inline:5%; text-align:center">
                        Фрактали
                        </div>
                        <br />   <br /> <br />
                            <img style="margin-left: 2%; margin-right: 2%; text-align: center" width="96%" height="200 "
                                 src="https://studfile.net/html/2706/1080/html_k2g4yluBCT.lnCD/img-VLdEPG.jpg">
                            <br />
                        <label>
                            Тут ти зможеш  побудувати
                            фрактали та зберегти їх
                        </label>
                        <br /><br /><br />
                </a>
                </div>

        <div class="column margin-bottom: 20px rounded-xl px-6 py-2 " style="font-size:large ;background-color: #DBFCFF; width: 25%; margin-inline:5%; margin-bottom:5%;  text-align:center" height=15%>
                <a href="/Colors/Index">
                        <br />
                        <div class="column margin-bottom: 20px rounded-xl px-6 py-6 " style="font-size:large ;background-color: #9EE7EC; width: 90%; margin-inline:5%; text-align:center">
                            Зміна колірної схеми
                        </div>
                        <br />   <br />    <br />
                        <img style="margin-left: 15%; margin-right: 5%; text-align: center" width="70%" height="200 "
                                 src="https://studfile.net/html/2706/1080/html_k2g4yluBCT.lnCD/img-nheyuq.jpg">
                <br />
                        <label>Тут ти зможеш завантажити зображення і змінити його насиченість за синім</label>
                <br /><br />
                </a>
                </div>

                <div class="column margin-bottom: 20px rounded-xl px-6 py-2 " style="font-size:large ;background-color: #DBFCFF; width: 25%; margin-right:5%; margin-bottom:5%; text-align:center" height=15%>
                <a href="/Affine/Index">
                        <br />
                        <div class="column margin-bottom: 20px rounded-xl px-6 py-6 " style="font-size:large ;background-color: #9EE7EC; width: 90%; margin-inline:5%; text-align:center">
                            Афінні перетворення
                        </div>

                        <br />   <br />    <br />
                        <img style="margin-left: 2%; margin-right: 2%; text-align: center" width="96%" height="230 "
                             src="https://web.posibnyky.vntu.edu.ua/fitki/8romanyuk_komp_grafika/zmg1/zmg/f21/1.gif">
                       
                        <label>Тут ти зможеш побудувати довільний квадрат та рухати ним, а також міняти коефіцієнти</label>
                        <br /> 
                </a>
                </div>

    </div>

    <br class=" row" />
    <br />
    <br />
    <br />

    <a href="/StudyComponent/Index">
                    <div class=" rounded-xl py-6" style="background-color: #EEB0CF;margin-left:10%;margin-right:10%; margin-top:29%; font-size:large; text-align: center">
                            Теоретичні відомості
                        </div>
    </a>


}
